h2= config.app
p(
  translate-value-greeter="{{ ::from }}",
  translate=".CONTENT")
p TROLOLO
button.button(
  on-tap="homeController.showPopup()",
  translate=".BUTTON",
  type="button")
a(ui-state="STATE_TWO") Go to Two
